*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #333;
	background: #fafafa;
}
.wrapper{
	position: fixed;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 15px;
	overflow: hidden;
	height: 300px;
}
.slider {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  /* Чтобы во время перетаскивания слайда ничего не выделить внутри него */
  user-select: none;
  /* Чтобы запретить скролл страницы, если мы начали двигать слайдер по оси X */
  touch-action: pan-y;
}

/* Если где-то внутри слайдера будут изображения,
то нужно задать им pointer-events: none,
чтобы они не перетаскивались мышью */

.slider img {
  width:200px;
  height: 200px;
  object-fit: cover;
  pointer-events: none;
  border-radius: 20px;
}
.img-box{
	width: 100%;
	height: 100%;
	border-radius: 50px;
}
.slider-list {
  width: 400px;
  height: 200px;
  overflow: hidden;
}

.slider-list.grab {
  cursor: grab;
  height:350px;
  padding: 20px 0;
}

.slider-list.grabbing{
  cursor: grabbing;
  height:350px;
  padding: 20px 0;
}

.slider-track {
  display: flex;
  gap:20px;
}

.slide {
  width: 200px;
  height: 250px;
  /* Чтобы слайды не сжимались */
  flex-shrink: 0;
  /* Увеличиваем и центрируем цифру внутри слайда */
  font-size: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.slider-arrows {
  margin-top: 15px;
  text-align: center;
}

.next,
.prev {
  background: none;
  border: none;
  margin: 0 10px;
  font-size: 30px;
  cursor: pointer;
}

.next.disabled,
.prev.disabled {
  opacity: .25;
  pointer-events: none;
}
/* //////////////////////COL-CARDS */

.col-card{
	display: flex;

	
}
.col-card-img{
	width: 100%;
	height: 100%;
	border-radius: 20px;
}
.col-card-title{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}