*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #333;
	background: #fafafa;

}
header{
	height: 210px;
	width: 100%;
}
.header{
	max-width: 1295px;
    margin-right: auto;
    margin-left: auto;
	width: 100%;
	position: fixed;
	top: 0;
	height: 200px;
	background: #fff;
	box-shadow: 0 0 5px #ccc;
	z-index: 100;
	/* margin-bottom: 200px; */
}
.wrapper{
	/* position: fixed; */
	margin: 0 auto;
	width: 100%;
	max-width: 700px;
	padding: 0 15px;
	overflow: hidden;
	height: 200px;
	z-index: 5;
}
.slider {
  position: relative;
  width: 600px;
  height: 200px;

  /* Чтобы во время перетаскивания слайда ничего не выделить внутри него */
  user-select: none;
  /* Чтобы запретить скролл страницы, если мы начали двигать слайдер по оси X */
  touch-action: pan-y;
}

/* Если где-то внутри слайдера будут изображения,
то нужно задать им pointer-events: none,
чтобы они не перетаскивались мышью */

.img-box{
	width: auto;
	height: 100px;
	border-radius: 20%;
}
.img-box img {
  width:auto;
  height: 100px;
  object-fit: cover;
  pointer-events: none;
  border-radius: 20px;
}
a{
	/* pointer-events: none; */
	/* height: 50px; */
	/* user-select: none; */
}
/* a .img-box{
	pointer-events: auto;
}
a .img-box img{
	pointer-events: none;
} */
.pn{
	pointer-events: none;
}
.slider-list {
  height: 200px;
  overflow: hidden;
}

.slider-list.grab {
  cursor: grab;
  height:200px;
}

.slider-list.grabbing{
  cursor: grabbing;
  height:200px;
}

.slider-track {
  display: flex;
  gap:.5em;
}
.title{
	font-size: 1.5em;
}
.slide {
  width: 200px;
  height: 250px;
  /* Чтобы слайды не сжимались */
  flex-shrink: 0;
  /* Увеличиваем и центрируем цифру внутри слайда */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.slider-arrows {
  margin-top: 15px;
  text-align: center;
}

.next,
.prev {
  background: none;
  border: none;
  margin: 0 10px;
  font-size: 30px;
  cursor: pointer;
}

.next.disabled,
.prev.disabled {
  opacity: .25;
  pointer-events: none;
}
/* //////////////////////COL-CARDS */

.img-del{
	width: 10rem;
	object-fit: cover;
}
.col-header{
	font-size: 48px;
	color: #000;
	text-align: center;
}
@media screen and (max-width: 768px){
	.img-del{
		width: 8rem;
	}
}